body {
  text-align: center;
  font-family: helvetica sans-serif;
}

h1 {
 font-size: 32px;
 font-weight: bold;
}

h2 {
  font-size: 23px;
  font-weight: bold'
}

p {
font-size: 14px;
}

.main {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  color: white;
}

.main h1 {
  font-size: 70px;
  font-weight: bold;

}

.btn-nav {
  font-size: 18px
  color: white
}
