body {
  font-family: "helvetica", sans-serif;
}

h1 {
 font-size: 32px;
 font-weight: bold;
}

h2 {
  font-size: 23px;
  font-weight: bold;
  text-align: center;
}

p {
font-size: 14px;
}

.supporting {
  text-align: center;
}

.main {
  background-image: url('https://s3.amazonaws.com/codecademy-content/programs/freelance-one/broadway/images/the-flatiron-building.png');
  color: white;
  text-align: center;
}

.main h1 {
  font-size: 70px;
  font-weight: bold;

}

.main h3 {
  font-size: 23px;
  font-weight: bold;
}

.btn-nav {
  font-size: 18px;
  color: white;
}

.footer {
  background-color: dimgray;
  font-size: 11px;
  color: white;
}
